<div class="container" *ngIf="!(loading$ | async)">
  <div class="h5 py-3">Search For Any Books By Name</div>
  <div
    class="container d-flex justify-content-between py-3"
    style="width: 400px"
  >
    <ng-select
      style="width: 100%"
      [(ngModel)]="selectedBook"
      [items]="items"
      [typeahead]="typeahead$"
      [disabled]="(saved$ | async)!"
      [loading]="(selectLoading$ | async)!"
      (clear)="selectCleared()"
      (scrollToEnd)="scrollEnd()"
      [virtualScroll]="true"
      bindLabel="title"
    >
    </ng-select>
  </div>
  <ul class="list-group list-group-flush mx-auto" style="width: 400px">
    <li
      class="list-group-item"
      *ngFor="let keyword of lastSearchedKeywords; let i = index"
    >
      {{ i + 1 }} {{ keyword }}
    </li>
  </ul>

  <img
    [src]="selectedBook?.thumbnail"
    class="rounded mx-auto d-block"
    width="200px"
  />
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="name"
        [value]="selectedBook?.title"
        disabled
        placeholder="name"
      />
      <label for="name">Book's Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="author"
        [value]="selectedBook?.authors | arrayToString"
        disabled
        placeholder="author"
      />
      <label for="author">Book's Author</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="desc"
        [value]="selectedBook?.description"
        disabled
        placeholder="desc"
      />
      <label for="desc">Book's Description</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        disabled
        id="year"
        [value]="selectedBook?.publishedDate"
        placeholder="year"
      />
      <label for="year">Book's Release year</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="score"
        placeholder="score"
        formControlName="rate"
      />
      <label for="score">Your Rate Score</label>
    </div>
    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        placeholder="comment"
        formControlName="review"
        id="comment"
        style="height: 100px"
      ></textarea>
      <label for="comment">Comments</label>
    </div>
    <div *ngIf="saved$ | async" class="text-success h5">Saved</div>

    <button [disabled]="saved$ | async" class="btn btn-success px-3 py-2">
      Save
    </button>
  </form>
</div>
