<div class="container mx-auto py-3">
  <h1 class="pb-3">Sign Up</h1>
  <form [formGroup]="signUpUserForm" (ngSubmit)="signUpUser()">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="userEmail"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="userEmail">Email address</label>
    </div>
    <div
      class="text-danger pb-3"
      *ngIf="isSubmited && signUpUserForm.get('email')?.hasError('required')"
    >
      E-mail Field Is Required
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="userPassword"
        placeholder="name@example.com"
        formControlName="password"
      />
      <label for="userPassword">Password</label>
    </div>
    <div
      class="text-danger pb-3"
      *ngIf="
        isSubmited &&
        signUpUserForm.get('password')?.hasError('isPasswordInValid')
      "
    >
      Password needs one Capital and one number
    </div>
    <div
      class="text-danger pb-3"
      *ngIf="isSubmited && signUpUserForm.get('password')?.hasError('required')"
    >
      Password Field Is Required
    </div>

    <button class="btn btn-success px-3 py-2">Sign Up</button>
  </form>
  <div class="d-flex justify-content-around align-items-center flex-column">
    <button
      class="btn btn-primary d-flex align-items-center pb-2 my-1"
      (click)="authService.googleAuth()"
    >
      <i class="fab fe-google-plus-g"></i>
      <span class="pb-1 px-2">Sign Up With Google</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-google"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
        />
      </svg>
    </button>
  </div>
  <div class="btn" routerLink="/sign-in">Back To Sign In</div>
</div>
