<div class="w-100 d-flex flex-column align-items-center justify-content-center">
  <header class="site-navbar site-navbar-target" role="banner">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="col-4">
          <div class="site-logo">
            <a routerLink="" class="font-weight-bold h5 text-decoration-none">{{
              title | translate
            }}</a>
          </div>
        </div>
        <div class="col-6 text-right">
          <span class="d-inline-block d-lg-none"
            ><a
              routerLink=""
              class="text-primary site-menu-toggle js-menu-toggle py-5"
              ><span class="icon-menu h3 text-white"></span></a
          ></span>
          <nav
            class="site-navigation text-right ml-auto d-none d-lg-block"
            role="navigation"
          >
            <ul class="site-menu main-menu js-clone-nav ml-auto">
              <li
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="!this.authService.isLoggedIn"
              >
                <a routerLink="auth/sign-in" class="nav-link">login </a>
              </li>
              <li
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="!this.authService.isLoggedIn"
              >
                <a routerLink="auth/sign-up" class="nav-link">Sign-up</a>
              </li>
              <li routerLinkActive="active" *ngIf="this.authService.isLoggedIn">
                <a routerLink="customers" class="nav-link">Dashboard</a>
              </li>
              <li routerLinkActive="active" *ngIf="this.authService.isLoggedIn">
                <a routerLink="customers" class="nav-link">Review & Rate</a>
              </li>
              <li routerLinkActive="active" *ngIf="this.authService.isLoggedIn">
                <a routerLink="customers" class="nav-link">Your List</a>
              </li>
              <li routerLinkActive="active" *ngIf="this.authService.isLoggedIn">
                <a routerLink="customers/active-customers" class="nav-link"
                  >Active-Customers</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-2">
          <button class="btn btn-primary ml-auto" (click)="onChangeLanguage()">
            change language
          </button>
        </div>
      </div>
    </div>
  </header>
</div>

<router-outlet></router-outlet>
