<div class="container d-flex justify-content-between py-3">
  <button class="btn btn-green" [routerLink]="['../add']">dsda</button>
</div>
<div class="row" scrollListener (scrolledToBottom)="loadMore()">
  <ng-container *ngFor="let item of userBooks; let i = index">
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          [src]="item?.thumbnail"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <button class="btn btn-danger">DELETE faar unda</button>
        </div>
      </div>
    </div>
    <br />
  </ng-container>
</div>
